@using Company.Models;
@model List<Position>

<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Content Row-->
    <div class="my-3 row gx-4 gx-lg-5">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title"> @item.Name</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                </div>
            </div>

        }
    </div>
</div>
